<div class="padded">
  <div class="centered">
    <div class="card">
      <%= @query %>
      <p>- You</p>
    </div>
  </div>
  <div class="centered">
    <div class="card">
      <%= @answer %>
      <p>- Your coach</p>
    </div>
  </div>
</div>
