<div class="padded">
  <div class="centered">
    <div class="card">
      <p><%= @query %></p>
    </div>
  </div>
  <div class="centered">
    <div class="card">
      <p><%= @answer %></p>
    </div>
  </div>
</div>
